.CarouselLogin_wp>.carousel.carousel-slider {
    height: 100% !important;
}

.CarouselLogin_wp {
    height: 100% !important;
}

.CarouselLogin_wp>.carousel.carousel-slider>.slider-wrapper {
    height: 100% !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.CarouselLogin_wp>.carousel.carousel-slider>.slider-wrapper>.slider {
    height: 100% !important;
}

.CarouselLogin_wp>.carousel.carousel-slider>.control-dots {
    display: flex;
    flex-direction: row;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.CarouselLogin_wp>.carousel .slide img {
    border: 0;
    vertical-align: top;
    width: 100%;
    object-fit: cover;
}

.Interinvestments_img {
    height: 100% !important;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.containCarousel {
    height: 100%;
    width: 100%;
}