.blog-chevron-up {
    color: black !important;
    opacity: 1 !important;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 10px;
    border-radius: 100px
}
.blog-chevron-up::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    bottom: 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.blog-chevron-up:hover {
    color: #FFB839 !important;
}


.blog-chevron-down {
    color: black !important;
    opacity: 1 !important;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 10px;
    border-radius: 100px
}
.blog-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.blog-chevron-down:hover {
    color: #FFB839 !important;
}

.blog-item-indicador {
    min-height: 45px !important;
    width: 7px !important;
    margin-left: 10px;
    transition: all;
    transition-duration: 700;
    transition-timing-function: ease-in-out;
    background-color: black;
    /*min-h-[45px]w-[7px]ml-[10px]transition-allduration-700ease-in-outhover:;
    bg-[#FFB839]hover:cursor-pointer;
    */
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
}