.CarouselModal_wp>.carousel.carousel-slider {
    height: 100% !important;

}

.CarouselModal_wp>.carousel.carousel-slider>.slider-wrapper {
    height: 100% !important;
}

.CarouselModal_wp>.carousel.carousel-slider>.slider-wrapper>.slider {
    height: 100% !important;
}

.CarouselModal_wp>.carousel.carousel-slider>.control-dots {
    display: flex;
    flex-direction: row;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.CarouselModal_wp > .carousel .slide img {
    border: 0;
    vertical-align: top;
    width: 100%;
    object-fit: cover;
}

.mantine-Modal-inner {
    top: -3% !important;
}