.containerTopRow {
    @apply flex flex-col lg:flex-row min-h-[70vh] max-h-[1200px] border border-solid border-t-0 border-x-0 border-b-[#D1D1D1] gap-0;
    border-top: none !important; 
    padding: 0 !important;
}

.carouselDivContainer {
    @apply min-h-[40vh] w-full lg:w-2/3 border border-solid border-t-0 border-b-0 border-r-[#D1D1D1] border-y-0 border-l-0;
}

.contentDivContainer {
    @apply min-h-[26vh] w-full lg:w-1/3 flex flex-col pb-3 pt-0 px-3;
}

.containerBottomRow {
    @apply flex flex-row min-h-[100px];
}

.nameOfDevelopmentContainer {
    @apply w-2/3 border border-solid border-r-[#D1D1D1] border-y-0 border-l-0 grid grid-cols-1 p-3 gap-3;
    display: flex !important;
    flex-direction: row !important;
    border-right: 1px solid #D1D1D1 !important;
}

.nameRowDevelopment {
    @apply w-full flex flex-col;
}

.externalButtonsDevelopment {
    @apply flex flex-row justify-center content-center h-full gap-3;
    width: 150px !important;
}

.buttonChangeCarousel {
    @apply bg-transparent 
mt-auto hover:font-[600] p-0
transition-all ease-in-out duration-500 hover:bg-black hover:text-white hover:border-black
font-outfit ml-auto rounded-full border-solid border-black h-[60px] w-[60px] my-auto mx-auto;
}


.labelTitle {
    @apply capitalize font-outfit text-[32px] leading-[36px] font-wp-semibold text-black mb-0;
}

.labelNameOfDevelopment {
    @apply capitalize mt-auto font-outfit text-[20px] leading-[28px] text-black;
}

.containerButtonView {
    @apply w-1/3 flex flex-col p-3;
}

.buttonView {
    @apply text-black font-wp-semibold uppercase font-outfit text-[20px] my-auto h-full w-full flex border-white;
    width: 100% !important;
    div:first-child {
        @apply mx-auto;
    }
}

.labelContentTittle {
    @apply capitalize font-outfit text-[22px] font-wp-semibold mb-3;
}

.labelContentValue {
    @apply capitalize font-outfit text-[16px];
}
// modal HOC
.modal {
    @apply p-0 w-4/5 lg:w-5/6 max-w-screen-xl bg-transparent;
}

.modalFullContent {
    @apply w-full max-w-screen-xl bg-transparent flex flex-col min-h-[450px];
}

.buttonClose {
    @apply ml-auto hover:bg-black hover:text-white hover:border-black
    transition-all ease-in-out duration-500
    w-[1.7rem] h-[1.7rem] p-0 text-[18px] 
    rounded-full flex justify-center items-center
     text-white font-wp-semibold border border-white border-solid;
}

.childrenModal {
    @apply bg-white w-full;
    border: none !important;
}

// Carousel Quick View
.customIndicator {
    @apply inline-block min-h-[3px] min-w-[40px] mr-2 transition-all duration-500 ease-in-out hover:cursor-pointer;
}

.containerNoImage {
    @apply z-[600] w-full h-full flex flex-col p-0;
    figcaption {
        margin-top: 2rem;
    }
}

.imageEmpty {
    @apply z-[600] mx-auto my-auto w-full h-fit;
}

.carouselModal {
    @apply z-[600] w-full h-full absolute overflow-hidden flex flex-col p-0;
} 

.carouselImg {
    @apply w-full h-full bg-no-repeat z-[610];
}