.containerCard {
    @apply flex flex-col justify-center md:flex-row gap-5 #{!important};
}

.containInfoAgent {
    @apply w-full max-w-[680px] flex flex-col justify-start gap-5 md:gap-1 #{!important};
}

.titleNameAgent {
    font-weight: 300;
    @apply capitalize text-center
     md:text-left
      ml-0 md:ml-4 
      font-outfit text-[41px] leading-[50px] md:text-[57px]
       md:leading-[70px] 2xl:text-[72px] 2xl:leading-[91px] #{!important};
}

.PositionAgent {
    font-weight: 400;
    @apply capitalize text-center md:text-left font-outfit ml-0 md:ml-4 text-[20px] leading-[26px] #{!important};
}

.contentCArdAgent {
    p {
        font-weight: 300;
        @apply capitalize text-justify md:text-left ml-0 md:ml-4 pt-0 md:pt-10 font-outfit text-[20px] leading-[26px] #{!important};
    }
}

.contactAgent {
    @apply pt-0 md:pt-10 #{!important};
    a {
        font-weight: 400;
        @apply capitalize transition duration-300 text-center hover:text-[#FFB839] md:text-left font-outfit ml-0 md:ml-4 text-[20px] md:text-[30px] leading-[30px] md:leading-[40px] #{!important};
    }
}

.containerSocialMedia {
    @apply pt-0 md:pt-10 ml-0 md:ml-4 flex flex-row items-center gap-5 #{!important};
}

.imageIcon {
    width: 32px !important;
}
