
 @-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
       -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
       -ms-transform: translateX(0);
       -o-transform: translateX(0);
}
 }
 
 .fadeInLeftBLOG {
 -webkit-animation-name: fadeInLeft;
 animation-name: fadeInLeft;
 }