.containerInfinite > * {
  scrollbar-width: thin !important;
  scrollbar-color:  rgba(164, 164, 160, 0.5) rgba(234, 234, 233, 0.5) !important;
}

/* Works on Chrome, Edge, and Safari */
.containerInfinite::-webkit-scrollbar {
 width: 0;
  height: 0;
  opacity: 0.5;
}

.containerInfinite::-webkit-scrollbar-track {
  background: #eaeae9 !important;
}

.containerInfinite::-webkit-scrollbar-thumb {
  background-color: rgba(164, 164, 160, 0.2) !important;
  border-radius: 20px !important;
  border: 3px solid rgba(164, 164, 160, 0.2) !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
}