.containerCollapse {
    @apply px-12 xl:px-0 my-20 md:my-28 max-w-screen-lg xl:max-w-[1200px] w-full mx-auto h-full;
}

.tableFloorplans {
    @apply overflow-auto;
    thead tr th {
        @apply text-black;
    }
}

.textIndex {
    font-weight: 300;
    @apply font-outfit text-[20px];
}

.titleCollapse {
    font-weight: 300;
    @apply transition duration-[350ms] hover:text-[#FFB839] cursor-pointer font-outfit text-center my-auto text-[32px] md:text-[72px] leading-[91px];
}

.ArrowRight {
    @apply transition duration-[350ms];
}

.ArrowRight_active {
    @apply rotate-90;
}

.collapseListing {
    @apply p-0 md:py-12 md:px-12 overflow-auto;
    span {
        @apply text-[10px] md:text-[16px];
    }
    @media (min-width: 768px) {
        td {
            font-size: 14px !important
        }
    }
    @media (max-width: 767px) {
        td {
            font-size: 10px !important;
        }
    }
}

.dividerListing {
    @apply my-8;
}

.container {
    @apply flex flex-row items-center justify-between h-full mt-3;
}

.gridContendCollapse {
    @apply grid grid-cols-2 gap-4 justify-items-center;
    @apply overflow-auto; 
}

.containerConted {
    @apply flex flex-col col-span-3 md:col-span-2;
}

.boxContend {
    @apply grid grid-cols-1 gap-5 md:grid-cols-2;
    span {
        @apply font-outfit;
    }
    p {
        @apply font-outfit;
    }
}

.containerFloorplasPdf {
    @apply flex flex-col gap-3;
}

.containerTable {
    @apply w-full max-w-2xl lg:max-w-full;
}

.textTable {
    @apply font-outfit text-[17px];
}

.linkFloorPlans {
    @apply transition duration-[350ms] text-[#0069c2] hover:text-[#13548c] cursor-pointer font-outfit;
}
